@model Questionnaire.Models.ServiceModel.ServiceModel
@{
    ViewBag.Title = "create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="content-header row">
    <div class="content-header-left col-12 mb-2 mt-1">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h5 class="content-header-title float-left pr-1 mb-0">Departmanlar</h5>
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb p-0 mb-0">
                        <li class="breadcrumb-item">
                            <a href="/admin/departments"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="/admin/departments">Departmanlar</a>
                        </li>

                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="nav-filled">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">

                <div class="card-content">
                    <form enctype="multipart/form-data" action="/admin/departments/update" method="post" class="card-body">
                        @Html.HiddenFor(x => x.Language.Id)
                        @Html.HiddenFor(x=>x.Department.Id)
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Başlık</label>
                                    @Html.TextBoxFor(x => x.Department.Title, new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Açıklama</label>
                                    @Html.TextBoxFor(x => x.Department.Description, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Departman Şefi</label>
                                    <select name="Department.SeniorPersonnelId" required class="form-control">
                                        @foreach (var item in Model.SystemUsers)
                                        {
                                            <option value="@item.Id">@(item.Name + " " + item.Surname)</option>
                                        }
                                    </select>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Bölümün Departmanını Seçiniz</label>
                                    @*<select name="Department.ParentId" required class="form-control">
                                        <option value="0">Boş</option>
                                        @foreach (var item in Model.Departments)
                                        {
                                            <option value="@item.Id">@(item.Title)</option>
                                        }
                                    </select>*@
                                    <div class="form-group">
                                        @Html.DropDownListFor(x => x.Department.ParentId, new SelectList(Model.Departments, "Id", "Title"), "Departman Bölümü Seçiniz", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Icon</label>
                                    <input type="file" class="form-control" name="Icon" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-success" style="width:200px">Kaydet</button>

                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
